@import 'partials/variables';
@import 'partials/mixins';

@include google-font('VT323');

html {
  height: 100%;
}

body {
  font-size: 12px;
  color: $text-white;
  min-height: 100%;
  background-color: $dark-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {

}

#root {
  background-color: darken($dark-grey, 10%);
  border: 1px solid $border-white;
  //width: 960px;
  //height: 600px;
}

#wrapper {
  display: flex;
  flex-direction: row;
  //width: 100%;
  height: 100%;
  .intro {
    flex-grow: 1;
    height: 100%;
    font-family: 'VT323', monospace;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo{
      margin-top: 120px;
      img {
        height: 150px;
        width: 300px;
      }
    }
    .options {
      flex-grow: 1;
      .option-item {
        text-align: center;
      }
    }
    .footer {
      text-align: center;
    }
  }
  .map {
    flex-grow: 1;
    height: 100%;
    font-family: 'VT323', monospace;
    .grid-row {
      display: flex;
      flex-direction: row;
      .grid-cell{
        width: 12px;
        height: 12px;
        border: 1px solid #FFF;
        &.floor {
          background-color: green;
        }
        &.room {
          background-color: red;
        }
        .wall {

        }
        .corridor {

        }
        .corner-top-left {

        }
        .corner-top-right {

        }
        .corder-bottom-left {

        }
        .corner-bottom-right {

        }
      }
    }
  }
  .sidebar{
    width: 250px;
    height: 100%;
    background-color: $dark-grey;
  }
}
