@import 'partials/variables';
@import 'partials/mixins';

@include google-font('VT323');

html {
  height: 100%;
}

body {
  font-size: 12px;
  color: $text-white;
  background-color: $dark-grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.title {

}

#root {
  background-color: darken($dark-grey, 10%);
  border: 1px solid $border-white;
  //width: 960px;
  //height: 600px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  .intro {
    flex-grow: 1;
    height: 100%;
    font-family: 'VT323', monospace;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo{
      margin-top: 120px;
      img {
        height: 150px;
        width: 300px;
      }
    }
    .options {
      flex-grow: 1;
      .option-item {
        text-align: center;
      }
    }
    .footer {
      text-align: center;
    }
  }
  .HUD {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .player-info, .dungeon-info {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 45%;
      min-height: 100px;
      border: 1px solid #FFF;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .stats {
        height: 15%;
        width: 100%;
        &.progress {
          margin-bottom: 0px;
          height: 20px;
          background-color: $dark-grey;
        }
      }
    }
  }
  .map {
    flex-grow: 1;
    height: 100%;
    font-family: 'VT323', monospace;
    .grid-row {
      display: flex;
      flex-direction: row;
      .grid-cell{
        width: 12px;
        height: 12px;
        border: 1px solid #FFF;
        &.background {
          background-color: $floor;
          border-color: $floor-border;
        }
        &.floor {
          background-color: $room;
          border-color: $room-border;
        }
        &.door {
          background-color: darken($room, 30%);
          border-color: darken($room-border, 15%);
        }
        &.player {
          background-color: $player;
          border-color: lighten($player, 20%);
        }
        &.enemy {
          background-color: red;
          border-color: lighten(red, 20%);
          &:hover{
            cursor: help;
          }
        }
        &.health {
          background-color: green;
          border-color: lighten(green, 20%);
        }
        &.weapon {
          background-color: gold;
          border-color: lighten(gold, 20%);
        }
        &.shield {
          background-color: silver;
          border-color: lighten(silver, 20%);
        }
        &.ladder {
          background-color: $dark-grey;
        }
      }
    }
  }
  .sidebar{
    width: 250px;
    height: 100%;
    background-color: $dark-grey;
  }
}
