@import url("https://fonts.googleapis.com/css?family=VT323");
html {
   height: 100%;
}

body {
   font-size: 12px;
   color: #F2F2F2;
   min-height: 100%;
   background-color: #292929;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

#root {
   background-color: #101010;
   border: 1px solid #F2F2F2;
}

#wrapper {
   display: flex;
   flex-direction: row;
   height: 100%;
}

#wrapper .intro {
   flex-grow: 1;
   height: 100%;
   font-family: 'VT323', monospace;
   font-size: 2.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#wrapper .intro .logo {
   margin-top: 120px;
}

#wrapper .intro .logo img {
   height: 150px;
   width: 300px;
}

#wrapper .intro .options {
   flex-grow: 1;
}

#wrapper .intro .options .option-item {
   text-align: center;
}

#wrapper .intro .footer {
   text-align: center;
}

#wrapper .map {
   flex-grow: 1;
   height: 100%;
   font-family: 'VT323', monospace;
}

#wrapper .map .grid-row {
   display: flex;
   flex-direction: row;
}

#wrapper .map .grid-row .grid-cell {
   width: 12px;
   height: 12px;
   border: 1px solid #FFF;
}

#wrapper .map .grid-row .grid-cell.background {
   background-color: #1F1A14;
   border-color: #0F0E0C;
}

#wrapper .map .grid-row .grid-cell.floor {
   background-color: #B0A593;
   border-color: #757165;
}

#wrapper .map .grid-row .grid-cell.door {
   background-color: #625848;
   border-color: #4c4942;
}

#wrapper .map .grid-row .grid-cell.player {
   background-color: #33D5E4;
   border-color: #8de8f0;
}

#wrapper .map .grid-row .grid-cell.enemy {
   background-color: red;
   border-color: #ff6666;
}

#wrapper .map .grid-row .grid-cell.health {
   background-color: green;
   border-color: #00e600;
}

#wrapper .sidebar {
   width: 250px;
   height: 100%;
   background-color: #292929;
}
