@import url("https://fonts.googleapis.com/css?family=VT323");
html {
   height: 100%;
}

body {
   font-size: 12px;
   color: #F2F2F2;
   background-color: #292929;
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 40px;
}

#root {
   background-color: #101010;
   border: 1px solid #F2F2F2;
}

#wrapper {
   display: flex;
   flex-direction: column;
   height: 100%;
}

#wrapper .intro {
   flex-grow: 1;
   height: 100%;
   font-family: 'VT323', monospace;
   font-size: 2.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#wrapper .intro .logo {
   margin-top: 120px;
}

#wrapper .intro .logo img {
   height: 150px;
   width: 300px;
}

#wrapper .intro .options {
   flex-grow: 1;
}

#wrapper .intro .options .option-item {
   text-align: center;
}

#wrapper .intro .footer {
   text-align: center;
}

#wrapper .HUD {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

#wrapper .HUD .player-info, #wrapper .HUD .dungeon-info {
   margin-top: 10px;
   margin-bottom: 10px;
   width: 45%;
   min-height: 100px;
   border: 1px solid #FFF;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

#wrapper .HUD .player-info .stats, #wrapper .HUD .dungeon-info .stats {
   height: 15%;
   width: 100%;
}

#wrapper .HUD .player-info .stats.progress, #wrapper .HUD .dungeon-info .stats.progress {
   margin-bottom: 0px;
   height: 20px;
   background-color: #292929;
}

#wrapper .map {
   flex-grow: 1;
   height: 100%;
   font-family: 'VT323', monospace;
}

#wrapper .map .grid-row {
   display: flex;
   flex-direction: row;
}

#wrapper .map .grid-row .grid-cell {
   width: 12px;
   height: 12px;
   border: 1px solid #FFF;
}

#wrapper .map .grid-row .grid-cell.background {
   background-color: #1F1A14;
   border-color: #0F0E0C;
}

#wrapper .map .grid-row .grid-cell.floor {
   background-color: #B0A593;
   border-color: #757165;
}

#wrapper .map .grid-row .grid-cell.door {
   background-color: #625848;
   border-color: #4c4942;
}

#wrapper .map .grid-row .grid-cell.player {
   background-color: #33D5E4;
   border-color: #8de8f0;
}

#wrapper .map .grid-row .grid-cell.enemy {
   background-color: red;
   border-color: #ff6666;
}

#wrapper .map .grid-row .grid-cell.enemy:hover {
   cursor: help;
}

#wrapper .map .grid-row .grid-cell.health {
   background-color: green;
   border-color: #00e600;
}

#wrapper .map .grid-row .grid-cell.weapon {
   background-color: gold;
   border-color: #ffe766;
}

#wrapper .map .grid-row .grid-cell.shield {
   background-color: silver;
   border-color: #f3f3f3;
}

#wrapper .map .grid-row .grid-cell.ladder {
   background-color: #292929;
}

#wrapper .sidebar {
   width: 250px;
   height: 100%;
   background-color: #292929;
}
