$gold: #CF991F;
$off-white: #F1F1E0;
$dark-grey: #292929;
$border-white: #F2F2F2;
$text-white: #F2F2F2;
$text-black: #151510;
$room: #B0A593;
$room-border: #757165;
$floor: #1F1A14;
$floor-border: #0F0E0C;
$player: #33D5E4;
